[project]
name = "monitoring-meteo-forecast"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "loguru>=0.7.3",
    "pytz>=2025.2",
    "requests>=2.32.5",
]
